{% extends "layout.html" %}

{% block title %}
    Password2
{% endblock %}

{% block main %}
    <form action = "{{url_for('password2')}}" method = "POST">
        <fieldset>
            <div class = "form-group">
                <input type = "password" class = "form-control" name = "password" placeholder = "Introduce your new password" required/>
            </div>
            <div class = "form-group">
                <input type = "password" class = "form-control" name = "passwordver" placeholder = "Introduce your new password again" required/>
            </div>
            <div class = "form-group">
                <button type = "submit" class = "form-control">Submit</button>
            </div>
        </fieldset>
    </form>



{% endblock %}